
<div class="media-body">
    <div class="row">
        <div class="col-11 pt-5 px-5">
            <h2 class="account-heading">{{ profile.first_name|default_if_none:profile.user.username }} {{ profile.last_name|default_if_none:"" }}</h2>
            <p class="text-muted">{{ profile.user.username }}</p>
        </div>
    </div>
    <hr>
    <p>
        <span class="mx-4 my-4">
            <i class="fas fa-envelope-open-text"></i>
        </span>{{ profile.user.email|default:"brak danych" }}
    </p>
    <p>
        <span class="mx-4 my-4">
            <i class="fas fa-phone"></i>
        </span>{{ profile.phone|default_if_none:"brak danych" }}
    </p>
    <hr>
</div>
