{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form class="text-center border border-light p-5" autocomplete="off" method="post" novalidate style="max-width: 30%; margin: 5% auto;">
    {% csrf_token %}
    <p class="h4 mb-4">Sign in</p>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

      <div class="md-form">
        <input type="text" name="username" id="id_username" required class="form-control">
        <label for="id_username" class="requiredField">Username</label>
      </div>
      <div id="div_id_password" class="form-group md-form">
        <input type="password" name="password" id="id_password" required class="form-control">
        <label for="id_password" class="requiredField">Password</label>
      </div>
        <button type="submit" class="btn btn-teal">Log in</button>
        <button  class="btn btn-teal "><a href="{% url 'password_reset' %}" class="white-text">Forgot your password?</a></button>
    </form>
{% endblock %}
