{% extends "core/base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-6 mb-4">
          <img  src="{{ object.image.url }}" style="min-height: 100%;">
        </div>
        <div class="col-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </div>
            <h4 class="lead font-weight-bold">{{ object.title }}</h4><br>
              <p class="lead font-weight-bold">Description:</p>
                        <p>{{ object.description }}</p>
          <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item">

          <div class="row">
              <div class="col-5">
              <p><span>Price:</span>
              <span class="ml-1">
            {% if object.discount_price < object.price %}
                <span class="mr-1"><del>{{ object.price }}</del></span>
                 <span>{{ object.discount_price }}PLN</span>
            {% else %}
              <span>{{ object.price }}PLN</span>
              {% endif %}
            </span></p>
              </div>
              <div class="col-7">
                  <p><span>Author(s): </span><span class="ml-1">{{ object.author }}</span></p>
              </div>
          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">
              <div class="col-5">
              <p><span>Condition:</span>
              <span class="ml-1" id="amount">
              {{ object.get_condition_display }}
            </span></p>
              </div>
              <div class="col-7">
              <p><span>Publisher:</span>
              <span class="ml-1">
           {{ object.publisher }}
            </span></p>
              </div>

          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">
              <div class="col-5">
              <p><span>Amount:</span>
              <span class="ml-1" id="amount">
              {{ amount }}
            </span></p>
              </div>
              <div class="col-7">
                  <p><span>Seller: </span><span class="ml-1">{{ object.seller.profile.first_name|default_if_none:object.seller }}
                                                                {{ object.seller.profile.last_name|default_if_none:"" }}
                  </span></p>
              </div>

          </div>
                    </li>


        </ul>

                <a id="add_to_cart" href="{{ object.get_add_to_cart_url }}" class="btn btn-teal btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>


          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn mt-4">
        {% for book in more_books %}


        <div class="col-2">
            <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" class="img-fluid"></a>
        </div>

        <div class="col-4">
            <span class="badge purple mr-1">{{ book.get_category_display }}</span>
            <ul style="text-decoration: none;">
                <li>Title: {{ book.title }}</li>
                <li>Price: {{ book.price }} PLN</li>
                <li>Seller: {{ object.seller.profile.first_name|default_if_none:object.seller }}
                            {{ object.seller.profile.last_name|default_if_none:"" }}</li>
            </ul>
        </div>
    {% endfor %}
      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}

{% block javascript %}
<script>

        jQuery($ => {
        let value = $("#amount").html();
        value = parseInt(value);
            if( value === 0){
                console.log("sanity check");
                $("#add_to_cart").addClass("disabled");
            } else {
                $("#add_to_cart").removeClass("disabled");
            }
        });



</script>

{% endblock %}