{% load static %}

<script type="text/javascript" src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/mdb.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
  new WOW().init();

</script>