{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="text-center border border-light p-5" autocomplete="off" method="post" novalidate
          style="max-width: 30%; margin: 5% auto;">
        {% csrf_token %}
        <p class="h4 mb-4">Reset password</p>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="md-form">
            <input type="email" name="email" maxlength="254" class="emailinput form-control" required id="id_email">
            <label for="id_email" class=" requiredField">Email</label>
        </div>
        <button type="submit" class="btn btn-teal">Send confirmation link</button>
    </form>
{% endblock %}
