{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <form class="text-center border border-light p-5" autocomplete="off" method="post" novalidate style="max-width: 30%; margin: 5% auto;">
    {% csrf_token %}
    <p class="h4 mb-4">Sign in</p>
      <div class="md-form">
        <input type="email" name="email" maxlength="254" class="emailinput form-control" required id="id_email">
        <label for="id_email" class=" requiredField">Email</label>
      </div>
        <button type="submit" class="btn btn-teal">Send confirmation link</button>
    </form>
{% endblock %}
