<footer class="page-footer text-center font-small mt-4  teal accent-4 fadeIn">
    <div class="row py-4 d-flex align-items-center container mx-auto">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->




    <!-- Social icons -->
    <div class="pb-4 elegant-color-dark">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4" style="max-width: 100%;">

      <!-- Grid column -->
      <div class="col-md-6 col-8 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
            <hr class="teal accent-4" style="max-width: 75%; margin:2% auto;">

<ul class="list-unstyled list-inline text-center pt-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'core:signup' %}" class="btn btn-outline-white">Sign up!</a>
      </li>
    </ul>
     </div>


    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3 elegant-color-dark">
      © 2020 Copyright:
      SylvanTheBot
    </div>
    <!--/.Copyright-->

  </footer>