{% load cart_template_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar" style="opacity: 97%;">
    <div class="container">
        <a class="navbar-brand waves-effect" href="/">
            <strong class="white-text">Bookshop</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'core:order_summary' %}" class="nav-link waves-effect">
                            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'books:list' %}" class="nav-link waves-effect">
                            <span class="clearfix d-none d-sm-inline-block"> My offers </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'profile' user.id %}">My profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <a href="{% url 'login' %}" class="btn btn-outline-white">Log in</a>
                            <a href="{% url 'core:signup' %}" class="btn btn-teal ml-2">Sign up</a>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>