{% load static %}
<script type="text/javascript" src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>