

{% extends "core/base.html" %}
{% load static %}
{% block content %}

<style>
 div.Category, div.Description {
     margin: 50px 0;
 }



label.Category, label.Condition, label.Description, label.Image {
    margin-top: -40px;
}


    label.Image {
        line-height: 5px;
        color: white;
        cursor: pointer;
    }


</style>

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-6 mb-4">

            <div class="owl-carousel products owl-theme" >
        {% for photo in photos %}
            <div class="item" style="max-width: 100%;">
                <img src="{{ photo.file.url }}" style="max-height: 450px; max-width: 450px; z-index: 1;">

            </div>
            {% empty %}
            <img style="height: 450px; width: 450px;" src="{% static 'core/img/def_book.png' %}">
        {% endfor %}
        </div>

        </div>
        <div class="col-6 mb-4">
        <form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
          <div class="p-4">
              <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>

            {{ form.title.label_tag }}<br>
        {{ form.title }}<br><br>

          {{ form.description.label_tag }}<br>
        {{ form.description }}<br>
{#              <p class="lead font-weight-bold">Description:</p>#}
{#                        <p>{{ object.description }}</p>#}
          <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item">

          <div class="row">
              <div class="col-5">
                  {{ form.author.label_tag }}<br>
        {{ form.author }}<br>

              </div>
              <div class="col-7">
                  {{ form.publisher.label_tag }}<br>
        {{ form.publisher }}<br>

              </div>
          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">
              <div class="col-5">
                  {{ form.category.label_tag }}<br>
        {{ form.category }}<br>

              </div>
              <div class="col-7">
               {{ form.condition.label_tag }}<br>
        {{ form.condition }}<br>
              </div>

          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">
              <div class="col-5">

      {{ form.amount.label_tag }}<br>
        {{ form.amount }}<br>
              </div>
              <div class="col-7">
                  {{ form.price.label_tag }}<br>
        {{ form.price }}<br>
              </div>
          </div>
                    </li>
        </ul>
                      <button type="submit" class="btn btn-teal">Next</button>

          </div>
        </form>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}


{% block javascript %}
<script>
    $( document ).ready(function() {
        $("#id_image").removeClass("form-control");
        let labels = ['Title', 'Author', 'Publisher', 'Price', 'Amount', ];
    for (let i=0; i < labels.length; i++) {
        let cur_label = "label." + labels[i];
        $(cur_label).addClass("active");
    }
});

                    $('.products').owlCarousel({
                items: 1,
                animateOut: 'fadeOut',
                autoplay:true,
                autoplayTimeout:7500,
                autoplayHoverPause:true,
                loop: true,
              });
              $('.item').owlCarousel({
                animateOut: 'slideOutDown',
                animateIn: 'flipInX',
                items: 1,
                smartSpeed: 450
              });


</script>
{% endblock javascript %}
