

{% extends "core/base.html" %}
{% load static %}
{% block content %}

<style>

#div_id_condition label, #div_id_category label {
    margin-top: -40px;
}

</style>

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-6 mb-4">

            <div class="owl-carousel products owl-theme" >
        {% for photo in photos %}
            <div class="item" style="max-width: 100%;">
                <img src="{{ photo.file.url }}" style="max-height: 450px; max-width: 450px; z-index: 1;">

            </div>
            {% empty %}
            <img style="height: 450px; width: 450px;" src="{% static 'core/img/def_book.png' %}">
        {% endfor %}
        </div>

        </div>
        <div class="col-6 mb-4">

        <form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
          <div class="p-4">


     <div id="div_id_title" class="md-form">
         <label for="id_title" class="requiredField">Title</label>
         <input type="text" name="title" class="form-control" required id="id_title" value="{{ form.instance.title }}">
     </div>
      <div id="div_id_description" class="md-form">
         <label for="id_description" class="requiredField">Description</label>
          <textarea type="text" name="description" class="form-control md-textarea" required id="id_description">{{ form.instance.description }}</textarea>
     </div>


          <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item">

          <div class="row">
              <div class="col-5">

          <div id="div_id_author" class="md-form">
             <label for="id_author" class="requiredField">Author</label>
             <input type="text" name="author" class="form-control" value="{{ form.instance.author }}" required id="id_author">
          </div>
              </div>

              <div class="col-7">
                <div id="div_id_publisher" class="md-form">
                <label for="id_publisher" class="requiredField">Publisher</label>
                <input type="text" name="publisher" class="form-control" value="{{ form.instance.publisher }}" required id="id_publisher">
              </div>
          </div>


          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">


              <div class="col-6">
                   <div id="div_id_category" class="md-form">
                <label for="id_category" class="requiredField">Category</label>
                {{ form.category }}
              </div>


              </div>



              <div class="col-6">
                  <div id="div_id_condition" class="md-form">
                <label for="id_condition" class="requiredField">Condition</label>
                {{ form.condition }}
              </div>
              </div>

          </div>
                    </li>
              <li class="list-group-item">

          <div class="row">
              <div class="col-6">
 <div id="div_id_amount" class="md-form">
                <label for="id_amount" class="requiredField">Amount</label>
                <input type="number" name="amount" class="form-control" value="{{ form.instance.amount }}" min="0" required id="id_amount">
              </div>
              </div>
              <div class="col-6">

 <div id="div_id_price" class="md-form">
                <label for="id_price" class="requiredField">Price</label>
                <input type="number" name="price" class="form-control" value="{{ form.instance.price }}" min="0" required id="id_price">
              </div>

              </div>
          </div>
                    </li>
        </ul>
                      <button type="submit" class="btn btn-teal">Next</button>

          </div>
        </form>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}


{% block javascript %}
<script>
                    $('.products').owlCarousel({
                items: 1,
                animateOut: 'fadeOut',
                autoplay:true,
                autoplayTimeout:7500,
                autoplayHoverPause:true,
                loop: true,
              });
              $('.item').owlCarousel({
                animateOut: 'slideOutDown',
                animateIn: 'flipInX',
                items: 1,
                smartSpeed: 450
              });



</script>
{% endblock javascript %}
